body {
    background-color: #F5F8FA !important;
}

textarea {
  resize: none;
}

#wrapper {
  position: relative;
  left: -70px;
  margin: 0 auto;
  width: 1350px;
  height: 100%;
  z-index: 1;
}

#trendingAndVisInfoWrapper {
  position: relative;
  width: 33%;
  float: left;
  height: 100%;
  margin: 0 auto;
  margin-right: 7px;
}

#uiWrapperDiv {
  position: relative;
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  height: 100%;
}

#recommendedUserWrapper {
  position: relative;
  width: 33%;
  float: right;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
  pointer-events: none;
}

.mainTweetInputBox {
  position: relative;
  top: -11px;
  background: #EEEEEE;
  height: 58px;
  width: 600px;
  border: 1px solid #E1E8ED;
  z-index: 100;
}

.expandedOuterBox {
  height: 146px;
}

.visitor-input-ico {
  position: absolute;
  top: 10px;
  left: 23px;
  height: 32px;
  width: 32px;
}

.visitor-input-ico-expanded {
  //top: -15px;
}

#newTweets-btn:hover {
  background: #E1E8ED;
}

#divHeader {
  position: relative;
  top: 3px;
  left: 13px;
}

.commentBox {
  position: absolute;
  top: 8px;
  left: 63px;
  height: 37px;
  width: 525px;
  z-index: 100;
}


input.commentBox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  left: 25px;
  color: #696969;
  position: relative;
  top: 2px;
}
input.commentBox::-moz-placeholder { /* Firefox 19+ */
  left: 25px;
  color: #4A4A4A;
}
input.commentBox::-ms-input-placeholder { /* IE 10+ */
  left: 25px;
  color: #4A4A4A;
}

.commentBox::-webkit-input-placeholder {
  position: relative;
  top: 2px;
}

.commentBox:-moz-placeholder { /* Firefox 18- */
  position: relative;
  top: 2px;  
}

.commentBox::-moz-placeholder {  /* Firefox 19+ */
  position: relative;
  top: 2px;  
}

.commentBox:-ms-input-placeholder {  
  position: relative;
  top: 2px;  
}

.commentBoxExpanded {
  height: 80px;
}

.commentBoxExpanded::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  visibility: hidden;
}
.commentBoxExpanded::-moz-placeholder { /* Firefox 19+ */
  visibility: hidden;
}
.commentBoxExpanded::-ms-input-placeholder { /* IE 10+ */
  visibility: hidden;
}
.commentBoxExpanded::-moz-placeholder { /* Firefox 18- */
  visibility: hidden;
}

.postedImages {
  margin-top: 11px;
  padding-left: 35px;
  margin-bottom: 1px;
}

.tweetAddedImage {
  width: 540px;
}

#xtraWrapperDiv {
  position: relative;
  top: 2px;
}

#hideMe {
  display: none;
}

.twitterHndlInRecomDiv,
.twitterHndlInRecomDiv:hover,
.twitterHndlInRecomDiv:active,
.twitterHndlInRecomDiv:visited {
  color: gray;
  margin-left: -1px;
  text-decoration: none !important;
}

.recomUserDivDropDownLink,
.recomUserDivDropDownLink:hover,
.recomUserDivDropDownLink:active,
.recomUserDivDropDownLink:visited {
  color: #000000;
}

.recommendedUserUpperRight {
  position: relative;
  top: -12px;
  left: -3px;
  height: 223px;
  width: 288px;
  border: 1px solid #E1E8ED;
  float: right;
  background: #FFFFFF;
  z-index: 1;
  pointer-events: all;
}

.expandedRecommended {
    height: 415px;
}

#recommendJoeInfo {
  position: relative;
  top: -1px;
}

#newTweets-btn {
  position: relative;
  border: 1px solid #E1E8ED;
  background: #F5F8FA;
  color: #5C5C5F;
  font-size: .9em;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#twtBtnDiv {
  position: relative;
  top: -12px;
  margin: 0 auto;
  height: 38px;
  width: 600px;
}

#mainTweetButtonTextGroup {
  position: absolute;
  width: 135px;
  height: 50px;
  left: 76.5%;
  top: 97px;
  z-index: 3;
  display: none;
}

.hideLikeCount {
  display: none;
}

.hideRetweetCount {
  opacity: 0;
}


/*
.charCount {
  position: relative;
  margin-right: 2px;
  visibility: hidden;
}
*/

.charCount {
    position: absolute;
    margin-right: 2px;
    left: -34px;
    top: 10px;
}

.followDivHeader {
  position: relative;
  top: 2px;
  left:11px;
  //height: 50px;
  width: 265px;
}

#outerBox-btn {
  position: relative;
  outline: none;
  color: #FFFFFF;
  font-size: 1em;
  height: 38px;
  width: 100px;
  background: #7A7A7C;
  left: 10px;
}

#outerBox-btn:hover:enabled {
  background: #525255;
}

span#modalX {
  //position: relative;
  //top: 20%;
  z-index: 0;
  pointer-events: none;
}

body.modal-open, 
div.modal-backdrop { 
    z-index: 0; 
}

#modalTextButtonGroup {
  position: relative;
  top: -6px;
  left: 78%;
}

#modalBox-btn {
  position: relative;
  color: #FFFFFF;
  font-size: 1em;
  height: 38px;
  width: 100px;
  background: #7A7A7C ;
}

#modalBox-btn:hover:enabled {
  background: #525255;
}

#modalBoxBtn-text {
  position: relative;
  top: -3px !important;
}

#modalCharCount {
  position: relative;
  top: 3px !important;
  left: -5px;
}

#myModalLabel {
  color: #979797;
  position: relative;
  top: -7px;
  font-size: 1.2em !important;
  text-align: center;
  z-index: 0;
  pointer-events: none;
}

#modalX {
  position: relative;
  top: -5px;
  font-size: 1.2em;
}

.modalTextInputBox {
  height: 80px;
  width: 100%;
}

.modal-header {
  height: 39px;
}

.modal-body {
  background: #EFEFEF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 158px;
}

#visitor-left-background-img {
  position: relative;
  height: 91px;
  width:  288px;
}

#visDisName {
  position: relative;
  top: -70px;
  left: 86px;
  font-size: 1.25em;
}

#visUName {
  position: relative;
  top: -82px;
  left: 86px;
}

#followersVisCountOutput {
  position: relative;
  top: -85px !important;
  left: 45px !important;
  color: #FFFFFF !important;
  height: 40px !important;
  width: 45px !important;
}

#followingVisDiv {
  position: relative;
  top: -85px;
  left: 45px;
  color: #FFFFFF;
  height: 40px;
  width: 45px;
}

#following {
  position: relative;
  top: -23px;
  left: 68px;
  color: #000000;
  font-size: .7em;
}

#followers {
  position: relative;
  top: -46px;
  left: 158px;
  color: #000000;
  font-size: .7em;
}

#flwCount {
  position: relative;
  top: -40px;
  left: 65px;
}

#flwrCount {
  position: relative;
  top: -109px;
  left: 131px;
  color: #000000;
  font-size: 1.475em;
}

#tweetsVisDiv {
  position: relative;
  color: #000000;
  top: -85px;
  left: 19px;
  height: 40px;
  width: 45px;
}

#tweets {
  position: relative;
  top: 0px;
  left: -5px;
  font-size: .7em;
}

#tweetVisOutput {
  position: relative;
  top: -116px;
  left: 13px;
  font-size: 1.55em;
}

#followingVisCountOutput {
  position: relative;
  top: -116px;
  left: 20px;
  font-size: 1.55em;
}

.hashtagItems {
  margin-bottom: 11px;
}

.refreshWord {
  font-size: .9em;
  margin-left: -4px;
}

#genAIcon {
  position: relative;
  //top: 5px;
  left: -1px;
  //padding-bottom: 4px;
  float: left;
}

#genBIcon {
  position: relative;
  left: -1px;
  float: left;
}

#visitor-left-profile-img {
  position: relative;
  top: -30px;
  left: 13px;
  height: 66px;
  width: 66px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #FFFFFF;
}

#visitorProfileInfoDiv {
  position: relative;
  background: #FFFFFF;
  top: -12px;
  float: right;
  width: 290px;
  height: 195px;
  border: 1px solid #E1E8ED;
}

.heartIconBtn {
  position: relative;
  top: 0;
  left: 77px;
  background: transparent;
  border: none;
  outline: none;
  height: 15px;
  width: 20px;
  padding-right: 35px;
}

.optionBtn {
  position: relative;
  top: 6px;
  left: 117px;
  background: transparent;
  border: none !important;
  outline: none;
  height: 15px;
  width: 20px;
  padding-right: 35px;
}

.shareBtn {
    position: relative;
    top: 2px !important;
    background: transparent;
    border: none !important;
    outline: none;
    height: 15px;
    width: 20px;
    padding-right: 35px;
    position: relative;
    top: 1px;
}

.retweetBtn {
  position: relative;
  top: 0;
  left: 45px;
  background: transparent;
  border: none !important;
  outline: none;
  height: 15px !important;
  width: 20px !important;
  padding-right: 35px;
}

#trendingTweetsDiv {
  position: relative;
  top: -5px;
  width: 288px;
  height: 492px;
  float: right;
  background: #FFFFFF;
  border: 1px solid #E1E8ED;
}

#trendingMainTitle {
  position: relative;
  font-size: 1.25em;
  top: 13px;
  left: 17px;
  color: #8A8A8A;
}

.box {
  position: relative;
  top: -13px; /*POSITION WHEN NEWTWEETSBTN IS VISIBLE IS 1px*/
  text-align: center;
  margin: 0 auto;
  border: 1px solid #E1E8ED;
  width: 600px;
  padding-bottom: 0px;
}

.tweetText {
    position: relative;
    top: -7px;
    padding-left: 18px;
    font-size: .95em;
    color: #000000;
    margin-bottom: -40px;
}

.tweetSubtext {
    position: relative;
    top: -7px;
    font-size: 0.8em;
}

#wordTWEET {
  position: relative;
  top: -3px;
  font-size: 1em;
  }

#wordTWEETTop {
  position: relative;
  top: -3px;
}

.tweetIcon {
  float: left;
  padding-left: 12px;
  padding-left: 2px;
  height: 47px;
  width: 58px;
  width: 48px;
}

.trendDivLink {
  position: relative;
  left: -5px;
  color: #000000;
  background: none;
  border: none;
  font-size: 1em;
}

.trendDivLink:hover {
  text-decoration: underline;
}

.resetTDL,
.resetTDL:hover
 {
  position: relative;
  left: 2px;
  color: silver;
  text-decoration: none !important;
  font-size: 1em !important;
}

.retweetCount {
  position: relative;
  top: -2px;
  margin-left: 12px;
  display: none;
}

#followDivBody {
  position: relative;
  top: 2px;
  left: 10px;
  width: 265px;
}

.glyphicon-use {
  font-size: 1em;
}

.fa-user-plus {
  color: #1DA1F2;
}

.followBtn {
  position: relative;
  top: -10px;
  left: 5px;
  height: 27px;
  width: 89px;
  background: #FFFFFF !important;
}

.joeFollowBtn {
  position: relative;
  top: -8px;
  left: 7px;
  height: 27px;
  width: 89px;
  background: #FFFFFF !important;
}

.xDataDismissJoe {
  position: relative;
  left: 62px;
  outline: none;
  height: 12px;
  width: 10px;
  outline: none;
  top: 3px;
  border: none;
  background: none;
}

#genProgADisNameDiv {
  position: relative;
  top: -1px;
  left: 5px;
  font-size: .9em;
  font-weight: bold;
  float: left;
}

#genProgBDisNameDiv {
  position: relative;
  top: -1px;
  left: 5px;
  font-size: .9em;
  font-weight: bold;
  float: left;
}

#joeDisNameDiv {
  position: relative;
  left: 7px;
  font-weight: bold;
  font-size: .9em;
  float: left;
  //margin-right: 40px;
}

.xDataDismiss {
  position: relative;
  height: 12px;
  width: 11px;
  top: 2px;
  outline: none;
  left: 16px;
  border: none;
  background: none;
}

.xDataDismissSpan {
  position: relative;
  color: gray;
  top: -10px;
  left: -3px;
  font-weight: bold;
  font-size: 1.35em;
}

.followBtnTxt {
  position: relative;
  top: -2px;
  font-weight: bold;
  font-size: .9em;
}

#genProgABtn {
  height: 30px;
  width: 95px;
}

.genProgAInfo {
  position: relative;
  margin-top: 10px;
  height: 49px;
  width: 259px;
}

.genProgBInfo {
  position: relative;
  margin-top: 10px;
  height: 49px;
  width: 259px;
}

#followMeJoeInfo {
  position: relative;
  margin-top: 11px;
  height: 48px;
  width: 259px;
}

#joeFlwIcon {
  position: relative;
  float: left;
}

.clear { /* breakdivs */
  clear: both;
}

button.close {
    z-index: 99999999999;
}

.likeCount {
  position: relative;
  top: -2px;
  margin-left: 10px;
  opacity: 1;
}

#tweetBtn {
  outline: none;
  color: #FFFFFF;
  position: relative;
  top: 7px;
  height: 33px;
  width: 90px;
  font-size: .925em;
  background: #7A7A7C;
  left: 30px;
}

#outerBox-btn:disabled {
  cursor: default;
}

#tweetBtn:hover {
  background: #525255;
}

.tweetsOutput {
  background: #FFFFFF;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  width: 100%;
  margin: 0 !important;
  border-bottom: 1px solid #E1E8ED;
  font-size: 1.2em;
  z-index: 101;
}

.tweetsOutput > * {
  z-index: 100;
}

.option-horizontal-glyphicon {
  font-size: 1.2em;
  position: relative;
  top: -14px !important;
  left: 4px !important;
}

.option-horizontal-glyphicon:hover {
  color: #000000;
}

.tweetsOutput:hover {
  background: #F5F8FA;
}

#share-glyphicon {
  margin-left: 18px;
  position: relative;
  top: -11px;
  left: -11px;
}

/*IS CONFLICTING WITH OTHER CLASS ON SAME ELEMENT: KEEPING ID FOR NOW*/
#share-glyphicon:hover {
  color: black;
}

.tweetBottoms {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 60px;
}

#tweetFooters {
  position: relative;
  top: 5px;
  left: 3px;
  color: #AAB8C2;
  margin-left: 48px;
}

.glyphicon-heart {
  font-size: .9em;
  position: relative;
  top: -11px !important;
}

.glyphicon-heart:hover {
  color: #E2264D;
}

.glyphicon-retweet {
  font-size: .9em;
  position: relative;
  top: -12px !important;
}

.glyphicon-retweet:hover {
  color: #19CF86;
}

#trendingTweetsContainerDiv {
  position: relative;
  top: 8px;
  left: 16px;
}

#trendStrongText {
  margin-bottom: 3px;
}

#brand {
  position: absolute;
  top: -6px;
  left: 50%;
}

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

#search-btn:focus,
#search-btn:hover {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.navbar-default {
  height: 47px;
}

.navbar-brand {
  position: relative;
  left: 49% !important;
}

#tweeting-ico { /* SEE: UPPER-RIGHT GUI */
  font-size: 1.435em;
}

#home-ico {
  font-size: 1.3em;
}

#search-box {
  position: relative;
  left: 12px;
  width: 186px;
  font-size: .8935em;
  background: #F5F8FA;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  top: -1px;
  left: 28px;
}

#search-btn {
  position: relative;
  background: #F5F8FA;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 40px;
  top: -1px;
  left: 22px;
}

#topRightVisIco {
  position: relative;
  height: 33px;
  width: 33px;
  top: -2px;
  left: 30px;
}

#home-btn-a {
  position: relative;
  left: -32px;
  font-size: .925em;
  height: 49px;
  border-bottom: 4px solid gray;
}

#search-wrapper {
  position: absolute;
}
